Day 01/aoc01.inp
Day 01/aoc01.out
Day 02/aoc02.inp
Day 02/aoc02.out
Day 03/aoc03.inp
Day 03/aoc03.out
Day 04/aoc04.inp
Day 04/aoc04.out
Day 05/aoc05.inp
Day 05/aoc05.out
Day 06/aoc06.inp
Day 06/aoc06.out
Day 07/aoc07.inp
Day 07/aoc07.out
Day 08/aoc08.inp
Day 08/aoc08.out
Day 09/aoc09.inp
Day 09/aoc09.out
Day 10/aoc10.inp
Day 10/aoc10.out
Day 11/aoc11.inp
Day 11/aoc11.out
Day 12/aoc12.inp
Day 12/aoc12.out
Day 13/aoc13.inp
Day 13/aoc13.out
Day 14/aoc14.inp
Day 14/aoc14.out
Day 15/aoc15.inp
Day 15/aoc15.out
Day 16/aoc16.inp
Day 16/aoc16.out
Day 17/aoc17.inp
Day 17/aoc17.out
Day 18/aoc18.inp
Day 18/aoc18.out
Day 19/aoc19.inp
Day 19/aoc19.out
Day 20/aoc20.inp
Day 20/aoc20.out
Day 21/aoc21.inp
Day 21/aoc21.out
Day 22/aoc22.inp
Day 22/aoc22.out
Day 23/aoc23.inp
Day 23/aoc23.out
Day 24/aoc24.inp
Day 24/aoc24.out
Day 25/aoc25.inp
Day 25/aoc25.out
